@import "tailwindcss";
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-blue-500 text-white font-bold py-2 px-6 rounded cursor-pointer hover:bg-blue-600;
  }

  .bg-primary {
    @apply bg-[#141414];
  }

  .bg-secondary {
    @apply bg-[#100f0f];
  }

  .bg-product-card {
    @apply bg-[#191919];
  }

  .input-parent {
    @apply flex w-full;
  }

  .table-head-cell {
    @apply border border-gray-300;
  }
  .table-data-cell {
    @apply border border-gray-300 px-2;
  }

  .page-btn {
    @apply py-2 px-3 border cursor-pointer select-none;
  }
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  margin: 0 !important;
}

.pagination {
  position: sticky;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  bottom: 0px;
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pagination-selected {
  background-color: rgb(79, 79, 79);
}

.pagination-disabled {
  opacity: 0;
}